header{
    color: black;
    text-align: center;
    margin-left : 20px;
    margin-right: 20px; 
}

.jenisBangunDatar {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px dodgerblue solid;
    border-radius: 6px;
}

.jenisBangunDatar a {
    text-align: center;
    font-weight: bold;
    color: black;
    align-items: center;
    padding: 10px 0;
    text-decoration: none;
    transition: 0.5s;
}
  
.jenisBangunDatar a:hover, .jenisBangunDatar a:focus {
    background-color: dodgerblue;   
    font-weight: bold;
    color: white;
    width: 100%;
    border-radius: 6px;
}
  
.luas, .keliling {
    margin: 50px 20px 100px 20px;
    border: 1px dodgerblue solid;
    border-radius: 6px;
}

.luas div, .keliling div{    
    padding: 20px;
}

.judul {
    margin: 0;
    color: white;
    text-align: center;
    background-color: dodgerblue;
    padding: 20px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.formPerhitungan {
    margin: 0 8px 50px 8px;     
    padding: 0 12px;     
}

.formPerhitungan input {
    width: 100%;
    margin: 5px -10px 10px -10px;
    padding: 10px 10px;    
    border-radius: 5px;
    border: 1px black solid;   
    outline: none;
}

.btn-hitung {
    display: flex;
    padding: 10px 15px;
    color: white;
    border: 1px solid dodgerblue;
    border-radius: 6px;
    text-decoration: none;
    margin: auto;
    background-color: dodgerblue;
    transition: 0.3s;
  }
  
  .btn-hitung:hover,
  .btn-hitung:focus {
    background-color: darkblue;
    border: 1px solid darkblue;
    cursor: pointer;
  }
  
  .btn-reset {
    position: absolute;
    right: 50px;
    padding: 10px 15px;
    color: white;
    border: 1px solid orange;
    border-radius: 6px;
    text-decoration: none;
    background-color: orange;
    transition: 0.3s;
  }
  
  .btn-reset:hover,
  .btn-reset:focus {
    background-color: orangered;
    border: 1px solid orangered;  
    cursor: pointer;
  }

  .kembali{
    position: absolute;
    left: 50px;
    background-color:rgb(85, 43, 250);  
    text-align: center;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 6px;
  }
  .kembali:hover, .kembali:focus{ 
    background-color: rgb(30, 0, 139);
    border: 1px solid rgb(30, 0, 139);
  }